*{
    box-sizing: border-box;
}
div{
    border : 1px solid black;
    margin-bottom: 1em;
    padding : 5px;
}
#div1 {
    width: calc(100% - 100px);
    background-color: yellow;
}
#div2{
    width : max(50%, 300px);
    background-color: green;
}
#div3{
    width: min(50%, 300px);
    background-color: blueviolet;
}
#div4{
    width : calc(100%-200px);
    background-image : url("../images/spring.jpg");
    background-repeat: repeat;
    background-position: left;
    border-radius: 10px;
}
#div5{
    border : 10px solid transparent;
    border-image: url(../images/border.png) 50 round;
}
#div6{
    border : 10px solid transparent;
    border-image : url("../images/border.png");
    border-image-slice: 27;
    border-image-repeat: round;
}
#div7{
    border: 10px solid transparent;
    border-image : url("../images/border.png");
    border-image-slice: 30;
}
#div8{
   border : none;
   /* background-image : url("images/search_icon.png") , url("images/paper.png");
   background-position: right top, left bottom;
   background-repeat: no-repeat, repeat; */
   background : url("../images/search_icon.png") right top no-repeat , url("../images/paper.png") left bottom repeat;
   background-size: 100px, 150px;
}
#div9{
   height: 120px;
   width: 150px;
   position: relative;
   overflow : auto;

}
#div9::before{
    content : "";
    background : url("../images/spring.jpg") ;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-size: contain;
    position : absolute;
    top : 0;
    left : 0;
    right : 0;
    bottom: 0;
}
#div10{
   background : url("../images/spring.jpg") ;
   height: 120px;
   width: 150px;
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0.3;
}
#div11{
   border : 10px solid black;
   background : url("../images/search_icon.png") no-repeat;
   background-size: 80px;
   padding : 30px;
}
#div12{
   border : 10px solid black;
   background : url("../images/search_icon.png") no-repeat;
   background-size: 80px;
   padding : 30px;
   background-origin: border-box;
}
#div13{
   border : 10px solid black;
   background : url("../images/search_icon.png") no-repeat;
   background-size: 80px;
   padding : 30px;
   background-origin: content-box;
}
#grad1{
   border : none;
   height: 200px;
   background : red; /*for browsers that do not support grediants*/
   /* background-image: linear-gradient(to bottom right,red,yellow); */
   /* background-image : linear-gradient(180deg,red ,yellow ); angle : 0 to 360 , 90 : to right , 180 : to bottom  so can control more detail */
   background-image : linear-gradient(to right, red, yellow, green);
}
#grad2{
   border : none;
   height: 200px;
   background : white;
   background-image: repeating-linear-gradient(45deg, transparent 0 20px, black 20px 40px);
}
#grad3{
   display : inline-block;
   border : none;
   height: 150px;
   width: 150px;
   background : yellow;
   /* Default shape of radial-gradient is ellipse */
   background-image: radial-gradient(closest-side at 60% 55%,red , yellow , black);
}
#grad4{
   display : inline-block;
   border : none;
   height: 150px;
   width: 150px;
   background : yellow;
   /* Default shape of radial-gradient is ellipse */
   background-image: radial-gradient(farthest-side at 60% 55%,red , yellow , black);
}
#grad5{
   display : inline-block;
   border : none;
   height: 150px;
   width: 150px;
   background : yellow;
   /* Default shape of radial-gradient is ellipse */
   background-image: radial-gradient(closest-corner at 60% 55%,red , yellow , black);
}
#grad6{
   display : inline-block;
   border : none;
   height: 150px;
   width: 150px;
   background : yellow;
   /* Default shape of radial-gradient is ellipse */
   background-image: radial-gradient(farthest-corner at 60% 55%,red , yellow , black);
}
#grad3, #grad4 , #grad5 , #grad6{
    float : left;
}
#grad_wrap{
    overflow: auto;
}
#grad_wrap::after{
    clear : both;
    content : "";
    display : table;
}

#grad7{
    border : none;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: repeating-conic-gradient(red 0deg 20deg, yellow 20deg 40deg , blue 40deg 60deg);
}
#shadow{
    border : none;
    color : white;
    text-shadow: 3px 3px 5px darkblue;
    width : 300px;
    height: 200px;
    font-size : 25px;
    background-color: coral;
    text-align: center;
    box-shadow: 10px 10px 3px lightpink, 15px 15px 3px lightgreen ;
}
div.card{
    width : 250px;
    text-align : center;
    border : none;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.24), 0px 6px 20px rgba(0, 0, 0, 0.15);
    padding : 0;
}
div.header{
    color : white;
    border : inherit;
    background-color : coral;
    padding : 15px;
    font-size : 25px;
    margin : 0;
}
div.container{
    border: inherit;
    padding : 10px;
    margin : 0;
}
div.rotate_2d{
    border : none;
    background-color: red;
    width: 100px;
    height: 100px;
    transform: rotate(20deg);
}
div.rotate_3d{
    border : none;
    background-color: red;
    width: 100px;
    height: 100px;
    transform: rotateX(30deg);
}
.trans{
    background-color: green;
    width: 100px;
    height: 100px;
    /* transition-property: width;
    transition-duration: 2s;
    transition-timing-function : linear | ease | ease-in | --
    transtiton-delay : 1s 
    shortcut below*/
    transition: width 2s , height 3s , transform 2s ease 1s;

}
.trans:hover{
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}